<div class="ratings-container">
  <div class="ratings-container-title">
    <span class="badge text-bg-dark">Player Ratings</span>
    <div class="ratings-container-section table-responsive">
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">INFO</th>
            <th scope="col">OVR</th>
            <th scope="col">INS</th>
            <th scope="col">JPS</th>
            <th scope="col">FTS</th>
            <th scope="col">3PS</th>
            <th scope="col">HND</th>
            <th scope="col">PAS</th>
            <th scope="col">ORB</th>
            <th scope="col">DRB</th>
            <th scope="col">PSD</th>
            <th scope="col">PRD</th>
            <th scope="col">STL</th>
            <th scope="col">BLK</th>
            <th scope="col">QKN</th>
            <th scope="col">STR</th>
            <th scope="col">JMP</th>
            <th scope="col">STA</th>
            <th scope="col">GRE</th>
            <th scope="col">HAP</th>
            <th scope="col">LOY</th>
            <th scope="col">WIN</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Current</td>
            <td>{{ player.overallrating }}</td>
            <td>{{ player.insidescoring }}</td>
            <td>{{ player.jumpshot }}</td>
            <td>{{ player.freethrowshot }}</td>
            <td>{{ player.threepointshot }}</td>
            <td>{{ player.handling }}</td>
            <td>{{ player.passing }}</td>
            <td>{{ player.offensiverebounding }}</td>
            <td>{{ player.defensiverebounding }}</td>
            <td>{{ player.postdefense }}</td>
            <td>{{ player.perimeterdefense }}</td>
            <td>{{ player.stealing }}</td>
            <td>{{ player.shotblocking }}</td>
            <td>{{ player.quickness }}</td>
            <td>{{ player.strength }}</td>
            <td>{{ player.stamina }}</td>
            <td>{{ player.jumping }}</td>
            <td>{{ player.greed }}</td>
            <td>{{ player.happiness }}</td>
            <td>{{ player.loyalty }}</td>
            <td>{{ player.winner }}</td>
          </tr>
          <tr>
            <td>Potential</td>
            <td>{{ player.overallpotential }}</td>
            <td>{{ player.pot_inside }}</td>
            <td>{{ player.pot_jumpshot }}</td>
            <td>{{ player.pot_freethrow }}</td>
            <td>{{ player.pot_3pshot }}</td>
            <td>{{ player.pot_handling }}</td>
            <td>{{ player.pot_passing }}</td>
            <td>{{ player.pot_orebounding }}</td>
            <td>{{ player.pot_drebounding }}</td>
            <td>{{ player.pot_postdefense }}</td>
            <td>{{ player.pot_perimeterdefense }}</td>
            <td>{{ player.pot_stealing }}</td>
            <td>{{ player.pot_blocking }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
