@import "../../../../assets/scss/variables.scss";

.table {
  width: 100%;
  border-top: 2px solid $secondary-color;
  font-size: 10px;
  white-space: nowrap;

  .mat-icon {
    vertical-align: text-bottom;
  }
}
