@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/teamsColors.scss";

.table {
  width: 100%;
  border-top: 2px solid $secondary-color;
  font-size: 10px;
  white-space: nowrap;

  tbody {
    td {
      border-bottom: 10px solid #303030;
      background-image: none;
      padding: 5px;

      img {
        margin-right: 5px;
        width: 30px;
      }
    }
  }
}
