.Sixers {
  background-color: #006bb6;
}

.Bucks {
  background-color: #00471b;
}

.Bulls {
  background-color: #ce1141;
}

.Celtics {
  background-color: #007a33;
}

.Clippers {
  background-color: #c8102e;
}

.Grizzlies {
  background-color: #5d76a9;
}

.Hawks {
  background-color: #c8102e;
}

.Heat {
  background-color: #98002e;
}

.Hornets {
  background-color: #1d1160;
}

.Jazz {
  background-color: #002b5c;
}

.Knicks {
  background-color: #f58426;
}

.Lakers {
  background-color: #552583;
}

.Mavericks {
  background-color: #00538c;
}

.Nets {
  background-color: #000000;
}

.Pacers {
  background-color: #002d62;
}

.Pelicans {
  background-color: #0c2340;
}

.Pistons {
  background-color: #c8102e;
}

.Raptors {
  background-color: #ce1141;
}

.Rockets {
  background-color: #ce1141;
}

.Spurs {
  background-color: #c4ced4;
}

.SuperSonics {
  background-color: #144b32;
}

.Timberwolves {
  background-color: #0c2340;
}

.TrailBlazers {
  background-color: #e03a3e;
}

.Warriors {
  background-color: #1d428a;
}
