$primary-color: rgb(17, 24, 46);
$secondary-color: rgb(37, 42, 65);
$danger-color: rgb(255, 0, 0);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$primary-text-color: $white;
$secondary-text-color: $white;
