@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

.stats-container {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;

  &-title {
    width: 100%;

    .badge {
      padding: 5px;
    }
  }

  &-section {
    width: 100%;

    .table {
      width: 100%;
      margin-top: 10px;
      font-size: 10px;
      white-space: nowrap;

      thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
      }
      th {
        text-align: center;
        vertical-align: middle;
      }

      tbody {
        td:first-child {
          position: sticky;
          text-align: left;
          left: 0;
          z-index: 1;
        }

        td {
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

          .mat-icon {
            img {
              width: 20px;
              vertical-align: text-bottom;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}
