@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

.card {
  display: flex;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;

  &-body {
    display: flex;

    &-img {
      img {
        width: 150px;
        height: 120px;
        border-radius: 50%;
      }
    }

    &-name {
      h5 {
        margin: 50px 0 0 10px;
        font-size: 20px;
        font-weight: 800;
      }

      span,
      p {
        font-size: 12px;
        margin-left: 9px;
      }

      img {
        margin-right: 4px;
      }
    }
  }

  &-stats {
    .list-group {
      display: flex;
      justify-content: center;
      .list-group-item {
        flex-grow: 1;
        background-color: transparent;
        color: $white;
        font-size: 10px;
        font-weight: 700;
        text-align: center;

        span {
          font-size: 10px;
          font-weight: 700;
        }

        p {
          padding: 0;
          margin: 0;
          font-size: 20px;
          text-align: center;
        }
      }

      .desk {
        p {
          font-size: 8px;
          text-align: center;
        }

        span {
          font-size: 8px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
}
