@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

.container {
  display: flex;
  justify-content: first baseline;
  flex-wrap: wrap;

  .card {
    margin: 5px;
    width: 185px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150px 150px;

    &-img {
      height: 100px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    &-body {
      border-radius: 4px;
      background-color: $primary-color;

      .list-group-item {
        width: 185px;
        margin: 0;
        padding: 0;
        background: transparent;
        font-size: 10px;
        color: $white;
        img {
          margin-right: 4px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    justify-content: space-between;

    .card {
      width: 165px;
      &-body {
        .list-group-item {
          font-size: 8px;
        }
      }

      &-img {
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
