<div class="container">
  <div
    routerLink="/player/{{ player.id }}"
    class="card {{ teamColors(team.name) }}"
    *ngFor="let player of team.players"
  >
    <img
      [src]="playerImg + [player.lastname] + '_' + [player.firstname] + [png]"
      onerror="this.src='../../../../../assets/images/players/blank.png';"
      alt="player img"
    />
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img [src]="ratingColors(player.currentrating)" />
          <img [src]="ratingColors(player.futurerating)" />
          {{ getPosition(player.positionnumber) }} - {{ player.firstname }}
          {{ player.lastname }}
        </li>
        <li class="list-group-item">
          {{ getHeight(player.height) }} / {{ player.weight }} lbs.
          {{ player.age }} years old
        </li>
        <li class="list-group-item">25.9 PPG - 13.0 APG - 15.2 RPG</li>
        <li class="list-group-item">
          $ {{ player.contract1 | number }} ({{ player.contractLength }})
        </li>
      </ul>
    </div>
  </div>
</div>
