<div class="card Lakers">
  <div class="card-body">
    <div class="card-body-logo">
      <img
        src="../../../../../assets/images/logos/Lakers.svg"
        alt="team logo"
      />
    </div>
    <div class="card-body-name">
      <h5>Los Angeles Lakers</h5>
      <span>34-16 | 12th in Western</span>
    </div>
  </div>
  <div class="card-stats">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item ppg">
        <span>113.5</span>
        <p>11th</p>
        <span>PPG</span>
      </li>
      <li class="list-group-item rpg">
        <span>113.5</span>
        <p>11th</p>
        <span>RPG</span>
      </li>
      <li class="list-group-item asp">
        <span>113.5</span>
        <p>11th</p>
        <span>APG</span>
      </li>
      <li class="list-group-item bpg">
        <span>113.5</span>
        <p>11th</p>
        <span>BPG</span>
      </li>
      <li class="list-group-item strk">
        <span>STRK</span>
        <p>L1</p>
      </li>
      <li class="list-group-item desk">
        <p>HOME <span>16 - 25</span></p>
        <p>ROAD <span>16 - 25</span></p>
        <p>LAST 10 <span>16 - 25</span></p>
      </li>
    </ul>
  </div>
</div>
