<div class="card  {{ teamColors(team.name) }}">
  <div class="card-body">
    <div class="card-body-logo">
      <img [src]="teamLogo + [team.name] + [svg]" alt="team logo" />
    </div>
    <div class="card-body-name">
      <h5>{{ team.cityName }} {{ team.name }}</h5>
      <span
        >{{ team.homeWins + team.roadWins }} -
        {{ team.roadLosses + team.roadLosses }} | {{ team.confRank }}th in
        {{ team.conference }} Conf.
      </span>
    </div>
  </div>
  <div class="card-stats">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item ppg">
        <span>{{ team.ppg | number : "1.1-1" }}</span>
        <p>11th</p>
        <span>PPG</span>
      </li>
      <li class="list-group-item oppg">
        <span>{{ team.oppg | number : "1.1-1" }}</span>
        <p>11th</p>
        <span>OPPG</span>
      </li>
      <li class="list-group-item asp">
        <span>{{ team.apg | number : "1.1-1" }}</span>
        <p>11th</p>
        <span>APG</span>
      </li>
      <li class="list-group-item rpg">
        <span>{{ team.rpg | number : "1.1-1" }}</span>
        <p>11th</p>
        <span>RPG</span>
      </li>
      <li class="list-group-item strk">
        <span>STRK</span>
        <p>L1</p>
      </li>
      <li class="list-group-item desk">
        <p>
          HOME <span>{{ team.homeWins }} - {{ team.homeLosses }}</span>
        </p>
        <p>
          ROAD <span>{{ team.roadWins }} - {{ team.roadLosses }}</span>
        </p>
        <p>LAST 10 <span>16 - 25</span></p>
      </li>
    </ul>
  </div>
</div>
