@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/teamsColors.scss";

.container {
  .table {
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    font-size: 10px;
    white-space: nowrap;

    thead th:first-child {
      position: sticky;
      left: 0;
      z-index: 2;
      padding-right: 100px;
    }

    tbody {
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
      }

      td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .player-img {
        width: 30px;
        border-radius: 20%;
        margin-right: 25px;
      }
    }

    tfoot {
      td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
      }
    }

    .row-lg {
      width: 40%;
    }

    .row-sm {
      width: 10%;
    }
  }
}

@media only screen and (max-width: 600px) {
}
