<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col" [class.active]="order === 'id'" (click)="setOrder('id')">
        <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        ID
      </th>
      <th
        scope="col"
        [class.active]="order === 'team'"
        (click)="setOrder('team')"
      >
        <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
        Team
      </th>
      <th scope="col">PPG</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of stats | orderBy : order : reverse : caseInsensitive"
    >
      <td>{{ item.id }}</td>
      <td>{{ item.team }}</td>
      <td>{{ item.ppg }}</td>
    </tr>
  </tbody>
</table>
