.playoffs-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

#first-round {
  background-color: #b87d5b;
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 2;
}
#second-round {
  background-color: #5d7559;
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 6;
  grid-column-end: 3;
}
#conference-finals {
  background-color: #65fbaf;
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 6;
  grid-column-end: 4;
}
#finals {
  background-color: #b77856;
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 6;
  grid-column-end: 5;
}
