.team-grid {
  display: grid;
  margin: 5px;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 150px;

  #grid-header {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 5;
  }
  #grid-body {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 5;
  }
}

@media only screen and (max-width: 600px) {
}
