<div class="team-grid">
  <div id="grid-header">
    <ng-container *ngIf="!!team">
      <team-header [team]="team"></team-header>
    </ng-container>
  </div>
  <div id="grid-body">
    <mat-tab-group animationDuration="3ms">
      <mat-tab label="Roster"
        ><ng-container *ngIf="!!team"
          ><team-roster [team]="team"></team-roster>
        </ng-container>
      </mat-tab>
      <mat-tab label="Contracts">
        <ng-container *ngIf="!!team"
          ><team-contracts [team]="team"></team-contracts>
        </ng-container>
      </mat-tab>
      <mat-tab label="Schedule">
        <ng-container *ngIf="!!schedule"
          ><team-schedule [team]="team" [schedule]="schedule"></team-schedule>
        </ng-container>
      </mat-tab>
      <mat-tab label="Draft Picks">
        <ng-container *ngIf="!!team"
          ><team-draftpicks [team]="team"></team-draftpicks>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
